@import "~bootstrap/scss/bootstrap";

@import "./partials/header";

.jumbo {
    height: 45vh;
        background-image: url(../img/jumbotron.jpg);
        background-size: 100% auto;
        position: relative;

}

.main-cards {
    background-color: #1c1c1c;

    .card {
        background-color: #1c1c1c;
        border: 0;

        

        h5 {
            color: white;
        }
    }
}

.info-cards {
    
    
    p {
        font-size: 13px;
        color: white;
        margin-bottom: 0;
        margin-left: 5px;
    }
}


